body {
    color: #FFFFFF;
    font-family: Raleway;
    background-color: black;
}

#texti {
    font-size: 28px;
    font-weight: normal;
}

#logo-inicio {
    font-size: 24px;
}

#logo-img {
    width: 30px;
    margin: 10px;
}